@font-face {
    font-family: fontInterBold;
    src: url(../../font/inter/Inter-ExtraBold.ttf);
  }
body{

}
.topheader{
    display: flex;
    padding: 10px;
    height: 80px;
    align-items: center;
}
.topheader > div{
    /* margin: 10px; */
}
.top_logo{
    padding: 10px;
}
.css-17xgviv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    padding: 1px;
    border-radius: var(--search-bar-border-radius, 8px);
    --button-icon-border-radius: var(--search-bar-border-radius, 8px);
    border: 1px solid #eaeaea;
}
.css-e5zlmr {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    line-height: 1rem;
    padding: 0.365rem 0.75rem;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 8px;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 0;
}
.css-7jjcju {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    min-height: 16px;
    border: 0;
    background-color: transparent;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.search_box{
    width: 100%;
}
.css-squldw {
    -webkit-mask: url(https://shopfront-cdn.tekoapis.com/static/dc6de02b661eb31c.svg);
    mask: url(https://shopfront-cdn.tekoapis.com/static/dc6de02b661eb31c.svg);
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: var(--button-icon-color, #dbdbdb);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}
.top_contact{
    display: flex;
    align-items:center;
}
.fa{
    color: #3B82F6;
    font-size: 22px;
}
.fa-phone{
    font-size: 30px;
}
p{
    padding: 0px;
    margin: 0px;
}
.flex{
    display: flex;
}
.flex > div{
    margin: 10px;
}
.menu_item_list li{
    list-style-type: none;
    margin: 5px;
    width: fit-content;
    min-width: 100px;
    text-align: center;
}
.js_sp_betteen{
justify-content: space-between;
}
.border{
    border: solid 1px #E2E8F0;
}
.shader{
    box-shadow: 1px 3px #E2E8F0;
}
.h-60{
    height: 60px;
}
.menu{
    height: 100%;
}
.bg-gray {
    background-color: rgba(32, 43, 55, 0.6);
}
.tab_search{
    margin-top: -40px;
    z-index: 500;
    position: relative;
}
.content_search{
    background-color: white;
}
.form_search{
    /* padding: 10px; */
}
.form_search > div{
    margin-right: 10px;
    margin-top: 10px;
}
.font_inter{
    font-family: fontInterBold;
}
.text_base{
    color: rgba(100, 116, 139, 1);
    font-weight: 400;
    padding: 4px;
}
.text_tag{
    background-color: #E0E7FF;
    padding: 4px;
    width: 100px;
    text-align: center;
    margin-right: 10px;
    color: rgba(55, 48, 163, 1);
}
.item_sale{
    width: 22%;
    /* max-width: 300px; */
    margin-right: 2%;
    background-color: #ffffff;
    margin: 8px;
}
.bg_liear{

    background-image: radial-gradient( at 100% 0%, rgba(253, 202, 21, 1), rgb(255 102 53), rgb(112 0 200));
}
.top_sale{
    padding-top: 30px;
    padding-bottom : 30px;
}
.text_sale{
    font-size: 30px;
    font-weight: 900;
}
.icon_sale{
    width: 24px;
    font-size: 44px;
    color: yellow;
    margin-right: 10px;
}
.div_time{
    background-color: black;
    width: 58px;
    text-align: center;

}
.div_time_space{
    width: 30px;
    color: white;
    font-size: 40px;
    text-align: center;
}
.text_date{
    font-size: 1.5rem;
    line-height: 1.1rem;
}
.info_item{
    padding: 12px;
}
.text_sale_medium{
    color: #F43F5E;
}
.text_sale_medium_bg{
    background-color: #F43F5E;
    padding: 2px 4px;
    margin: 2px;
}
.bottom_next{
    text-align: center;
    justify-content: center;
    padding: 30px;
}
.top-55{
    margin-top: 5.5rem;
}
.padding_icon_sale{
    margin-left: -13px;
    margin-top: 6px;
}
.padding_more{
    padding: 6px 20px;
}
.image_item{
    width: 100%;
}
.h-70{
    height: 30rem;
}
.bg-white {
    background-color: #007bff!important;
}
.bg-white\/50 {
    background-color: #dee2e6b8 !important;
}
.text_blog{
    font-size: 38px;
    padding: 10px;
}
.color_gray{
    color: gray;
}
.fa-envelope{
font-size: 16px;
}
.img_icon{
    margin-right: 2px;
}
.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}
.slick-slide{
    margin: 10px;
}
.dropbtn {

  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .tab_cart{
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 420px;
    height: 100%;
    z-index: 1000;
    background-color: rgb(236, 234, 234);
  }
@media screen and (max-width: 1368px) {
    .h-70{
        height: 28rem;
    }
}
@media screen and (max-width: 767px) {
    .h-70{
        height: 16rem;
    }
    .top_contact{
        display: none;
    }
    .menu_top{
        display: none;
    }
    .top_logo {
        padding: 2px;
        width: 120px;
    }
    .tab_search {
        margin-top: -10px;
        z-index: 500;
        position: relative;
    }
    .tab_date_sale{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .item_sale{
        width: 46%;
        /* max-width: 300px; */
        margin-right: 2%;
        background-color: #ffffff;
        margin: 8px;
    }
}
